*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-image: url('/assets/pink.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply; */
}
h3{
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
font-weight: 900;
}
.wrapper{

    box-shadow: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
}
.main{
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    border-radius: 7px;
    /* background-color: rgb(255, 248, 176); */
    height: 95%;
    width: 30%;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}
.body{
    height: 85%;
}
#registerForm{
    height: 100%;
    width: 100%;
}
.picture{
height: 30%;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 30px;
/* border: 2px solid red; */
}
.picture .img{
    overflow: hidden;
   height:60% ; 
   width: 20%;
   /* border: 2px solid black; */
   border-radius: 100%;
}
.picture .img img{
   height:100%;   
   width: 100%;
   
}
.inputPacket{
width: 80%;
margin: auto;
}
.formSubmit{
height: 11%;
display: flex;
align-items: center;
justify-content: center;
/* border: 2px solid gray; */
}
/* input[type="submit"]{
   
} */
/*===========================================*/
label {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
    color: rgb(47, 47, 47);
}
input[type="text"],
input[type="password"],input[type="email"],
textarea {
    /* width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px; */


    color: rgb(255, 255, 255);
    height: 45px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
}
input[type="submit"] {
    margin-top: 20px;
    background-color: #ff0000;
    color: white;
    padding: 13px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: larger;
    letter-spacing: 1px;
    transition: all 0.3 ease-in-out;
    transition-duration: 0.5s;
}
input[type="submit"]:hover {
    background-color: #15ff00;
    color: rgb(0, 0, 0);
    /* border: 2px solid rgb(255, 0, 0); */
}
/*===========================================*/
#url{
    width: 144px;
    padding: 13px;
    margin-top: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    height: 27px;
    font-size: 13px;
    color: white;
    
}
#url::placeholder{
    color: white;
}
#imgButton{
    background-color: #23d229;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
}